@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add the fonts you linked in index.html */
body {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Space Grotesk', sans-serif;
}